<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LikeBusLogistic</title>
    <link href="~/lib/uikit/css/uikit.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/time-picki/css/timepicki.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/uikit/js/uikit.js"></script>
    <script src="~/lib/uikit/js/uikit-icons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-ant-path" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/time-picki/js/timepicki.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <main class="uk-padding-large">
        @RenderBody()
    </main>
</body>
</html>
