body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

#slide {
    height: 100%;
    overflow-y: scroll;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

    #slide:hover {
        opacity: 0.97;
    }

footer {
    position: fixed;
    bottom: 0px;
    height: 0px;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    left: 0px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    z-index: 8 !important;
    padding-bottom: 50px;
}

#footer-content {
    padding-bottom: 15px;
}

@media screen and (max-width: 959px) {
    #slide-up {
        visibility: collapse !important;
    }
}

#dragging-slider {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 28px;
    background-color: #f3f3f3cc;
}

#footer-breacrumb:empty {
    margin: 0;
}

#menu-button {
    position: fixed;
    top: 12px;
    right: 0px;
    z-index: 9 !important;
}

.uk-text-white {
    color: white;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 2px;
}

#map {
    position: fixed;
    height: 100vh;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    z-index: -1 !important;
}

#offcanvas-slide {
    z-index: 10 !important;
}

@media screen and (max-width: 652px) {
    footer {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

footer {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 1200px) {
    footer {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

th.tool-cell-1,td.tool-cell-1 {
    min-width: 27px;
}
th.tool-cell-2,td.tool-cell-2 {
    min-width: 54px;
}
th.tool-cell-3,td.tool-cell-3 {
    min-width: 81px;
}

table {
    overflow-x: scroll;
}

#location-popup .location-info > span:nth-child(n+2):not(:first-child)::before {
    content: ",";
    display: inline-block;
    margin: 0 5px 0px -3px;
}

.uk-modal-dialog {
    width: auto !important;
}

.custom-picker div.pickr > button {
    height: 34px;
    width: 34px;
    margin-left: 1px;
    margin-top: 3px;
}

/*
    dataTable styles
*/
table.dataTable {
    margin: 0;
    text-align: center;
}
@media screen and (max-width: 767px) {
    div.dataTables_paginate {
        text-align: center !important;
    }
}
.dataTables_paginate a.paginate_button {
    margin: 0 3px;
}
.uk-dropdown {
    min-width: 120px;
}
.trip-color-rect {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

#ui-lock {
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
}

.uk-label-cancelled {
    background-color: #c950f0;
    color: #fff;
}