# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Logistic.iml
# Datasource local storage ignored files
/../../../../../../:\Github\LikeBusLogistic\.idea\.idea.Logistic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
