@model  LikeBusLogistic.Web.Models.Account.LoginVM
@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Войти в систему LikeBusLogistic</title>
    <link href="~/lib/uikit/css/uikit.css" rel="stylesheet" />
    <style>
        .content {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            overflow: auto;
        }
    </style>
</head>
<body>
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div></div>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-margin-top uk-margin-left uk-margin-right">
                <form asp-controller="Account" asp-action="Login">
                    <fieldset class="uk-fieldset uk-text-center">
                        <legend class="uk-legend">LikeBusLogistic</legend>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" type="text" asp-for="Login">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <button type="button" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock" onclick="showPassword()"></button>
                                <input class="uk-input" type="password" asp-for="Password">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <button class="uk-button uk-button-primary">Войти</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div></div>
    </div>

    <script src="~/lib/uikit/js/uikit.js"></script>
    <script src="~/lib/uikit/js/uikit-icons.js"></script>
    <script>
        function showPassword() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
</body>
</html>