@model TripDriversVM

@for (int i = 0; i < Model.DriversAmount; i++)
{
    <div class="uk-margin uk-width-1-2">
        <label class="uk-form-label"></label>
        <div class="uk-form-controls">
            @Model.Drivers.SelectListWithEmptyOption(
             x => x.DriverId,
             x => $"{x.LastName} {x.FirstName} {x.MiddleName} {(x.AttachedOnBus.GetValueOrDefault() ? " ☆" : "")}",
             "Выберите водителя...",
             Model.SelectedDrivers.Skip(i).FirstOrDefault()?.DriverId,
             new { @class = "uk-select", name = "driverId" })
        </div>
    </div>
}
