@model Logistic.Web.Models.Account.LoginVM
@{
    Layout = null;
    var hasError = ViewBag.HasError ?? false;
    var errorMessage = ViewBag.ErrorMessage;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login to System</title>
    <link href="~/lib/uikit/css/uikit.css" rel="stylesheet" />
</head>
<body>
    <form asp-controller="Account" asp-action="Login"
          class="uk-card uk-card-default uk-card-hover uk-card-body uk-position-center">
        <fieldset class="uk-fieldset uk-text-center">
            <legend class="uk-legend">Logistic</legend>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" type="text" asp-for="Login" tabindex="1" value="@Model.Login">
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <button type="button" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock" onclick="showPassword()" tabindex="3"></button>
                    <input class="uk-input" type="password" id="password" asp-for="Password" value="@Model.Password" tabindex="2">
                </div>
            </div>
            <div class="uk-margin">
                <button type="submit" class="uk-button uk-button-primary">Login</button>
            </div>
        </fieldset>
    </form>


    <script src="~/lib/uikit/js/uikit.js"></script>
    <script src="~/lib/uikit/js/uikit-icons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        localStorage.setItem('isLoggedOff', 'false');
        function showPassword() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
        @if (hasError)
        {
        @: setTimeout(function () { UIkit.notification('<div class="uk-card uk-card-default uk-card-body uk-text-center"><p class="uk-text-danger uk-text-small uk-text-bold">@Html.Raw(errorMessage)</p></div>'); }, 50);
        }
    </script>
</body>
</html>