@model LikeBusLogistic.Web.Models.Routes.FullInformationVM

<ul uk-tab>
    <li class="uk-active"><a href="#">Маршруты</a></li>
</ul>
<ul class="uk-switcher uk-margin">
    <li>
        @{
            await Html.RenderPartialAsync("_Routes.cshtml", new LikeBusLogistic.Web.Models.Routes.RoutesVM { Routes = Model.Routes });
        }
    </li>
</ul>

<script>
    App.footer.setBreadcrumbs([{ name: 'Маршруты', url: '@Url.Action("_FullInformation", "Route")' }]);
    App.geo.resetLocations('@Url.Action("GetLocations", "Home")');
    App.geo.onClickLocation(function (obj, location) {
        let selector = "marker_" + location.marker._leaflet_id;
        let popup = location.marker.getPopup();
        let width = window.innerWidth * 0.75;
        width = width > 400 ? 400 : width;
        if (!popup) {
            location.marker.bindPopup('<div style="width: ' + width + 'px; min-height: 115px;" id="' + selector + '"></div>', { maxWidth: width }).openPopup();
            popup = location.marker.getPopup();
        }
        selector = '#' + selector;
        App.loadContent(selector, '@Url.Action("_LocationPopup" , "Home")', { id: location.data.id, routeId: App.geo.route.id },
            function (html) {
                $(selector).html(html);
        });
    });
</script>
