@model LikeBusLogistic.Web.Models.Drivers.FullInformationVM

<ul uk-tab>
    <li><a href="#">Водители</a></li>
    <li><a href="#">Контакты</a></li>
</ul>
<ul class="uk-switcher uk-margin">
    <li>
        @{
            await Html.RenderPartialAsync("_Information.cshtml", new LikeBusLogistic.Web.Models.Drivers.InformationVM { Drivers = Model.Drivers });
        }
    </li>
    <li>
        @{
            await Html.RenderPartialAsync("_Contacts.cshtml", new LikeBusLogistic.Web.Models.Drivers.ContactsVM { Contacts = Model.Contacts });
        }
    </li>
</ul>

<script>
    App.footer.setBreadcrumbs([{ name: 'Водители', url: '@Url.Action("_FullInformation", "Driver")' }]);
</script>