@model LikeBusLogistic.Web.Models.Buses.FullInformationVM

<ul uk-tab>
    <li><a href="#">Автобусы</a></li>
    <li><a href="#">Модели</a></li>
</ul>
<ul class="uk-switcher uk-margin">
    <li>
        @{
            await Html.RenderPartialAsync("_Buses.cshtml", new LikeBusLogistic.Web.Models.Buses.BusesVM { Buses = Model.Buses });
        }
    </li>
    <li>
        @{
            await Html.RenderPartialAsync("_Vehicles.cshtml", new LikeBusLogistic.Web.Models.Buses.VehiclesVM { Vehicles = Model.Vehicles });
        }
    </li>
</ul>

<script>
    App.footer.setBreadcrumbs([{ name: 'Автобусы', url: '@Url.Action("_FullInformation","Bus")' }]);
</script>