@model LikeBusLogistic.Web.Models.Buses.FullInformationVM

<div uk-grid>
    <div class="uk-width-expand@m">
        @{
            await Html.RenderPartialAsync("_Buses.cshtml", new LikeBusLogistic.Web.Models.Buses.BusesVM { Buses = Model.Buses });
        }
    </div>
    <div class="uk-width-2-5@m">
        @{
            await Html.RenderPartialAsync("_Vehicles.cshtml", new LikeBusLogistic.Web.Models.Buses.VehiclesVM { Vehicles = Model.Vehicles });
        }
    </div>
</div>

<script>
    app.footer.setBreadcrumbs([{ name: 'Автобусы', url: '@Url.Action("_FullInformation","Bus")' }]);
</script>