@using LikeBusLogistic.Web.Models.Schedule;
@model LikeBusLogistic.Web.Models.Schedule.FullInformationVM

<ul uk-tab>
    <li class="@(Model.Tab == ScheduleTab.Schedule ? "uk-active" : "")" 
        data-url="@Url.Action("_FullInformation", "Schedule", new { tab = ScheduleTab.Schedule })">
        <a href="#">Расписания</a>
    </li>
</ul>
<ul class="uk-switcher uk-margin">
    <li>
        @{
            await Html.RenderPartialAsync("_Schedule.cshtml", new LikeBusLogistic.Web.Models.Schedule.ScheduleVM { Schedules = Model.Schedules });
        }
    </li>
</ul>

<script>
    App.footer.setBreadcrumbs([{ name: 'Расписания', url: '@Url.Action("_FullInformation", "Schedule")' }]);
    App.tab.name = 'schedule';
</script>