@using LikeBusLogistic.Web.Models.Schedule;
@model LikeBusLogistic.Web.Models.Schedule.FullInformationVM

<ul uk-tab>
    <li class="@(Model.Tab == ScheduleTab.Schedule ? "uk-active" : "")" 
        data-url="@Url.Action("_FullInformation", "Schedule", new { tab = ScheduleTab.Schedule })">
        <a href="#">Расписания</a>
    </li>
</ul>
<ul class="uk-switcher uk-margin">
    <li data-content-url="@Url.Action("_Schedule", "Schedule")"></li>
</ul>

<script>
    App.footer.setBreadcrumbs(null);
    App.tab.name = 'schedule';
</script>